.header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(74, 146, 209);
  padding: 10px 20px;
  margin-bottom: 30px;
}
.header__title {
  font-size: 24px;
  font-style: italic;
}
