.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}
.form__btn {
  color: green;
}
.form__field {
  padding: 8px 12px;
  border-radius: 8px;
  color: green;
}
.form__error {
  color: red;
  font-weight: 300;
  font-size: 16px;
}
.input__error {
  border: 1px solid red;
  background-color: rgb(254, 228, 228);
}
