.wrapper {
  position: relative;
}
.wrapper__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
  gap: 15px;
}
.wrapper__input {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
}
.wrapper__btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
}

.wrapper__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.profile__btn {
  padding: 10px 20px;
  font-size: 14px;
}
